
/* ================================================================================================
        Main color CSS
================================================================================================ */

/* ************************************************************************************************
		General
************************************************************************************************ */
a {
    color: #381717;
}

h1.home {
    border-left-color: #381717;
}

/* ************************************************************************************************
		Header
************************************************************************************************ */ 

/********** Navigation **********/
#nav li.current-menu-item,
#nav li a:hover {
    background-color: #381717;
}

/********** Carousel **********/
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #381717;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    background-color: #381717;
}

/* ************************************************************************************************
		Content
************************************************************************************************ */ 
.infobutton {
    background-color: #381717;
}

/* ************************************************************************************************
		Listing videos
************************************************************************************************ */
.listing-infos .rating-infos {
    color: #381717;    
}

/* ************************************************************************************************
		Video content
************************************************************************************************ */ 

/********** Player **********/
body .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #381717;
}


.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
    background: #381717;
}

body .mejs-overlay:hover .mejs-overlay-button,
.vjs-default-skin div.vjs-big-play-button:hover {
    -webkit-box-shadow: 0 0 80px #381717;
    -moz-box-shadow: 0 0 80px #381717;
    box-shadow: 0 0 80px #381717;
}

/********** Share buttons **********/
.share-buttons ul li a {
    background-color: #381717;
    border-color: #381717;
}

/********** Rating **********/
.post-like a span#more,
.post-like a span#less,
.like-bar {
    background-color: #381717;
}

.post-like a span#more,
.post-like a span#less {
    border-color: #381717;
}

/********** Categories and tags **********/
#cat-tag li a:hover {
    background-color: #381717;
    border-color: #381717;
}

/********** URL Player button **********/
a.url-player-button {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Video widgets
************************************************************************************************ */ 

/********** All videos link **********/
.content-widget ul li.all_videos,
#sidebar .sidebar-widget .listing-tube li.all_videos,
#footer .footer-widget ul.listing-tube li.all_videos,
#footer .footer-widget-last ul.listing-tube li.all_videos {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Comments
************************************************************************************************ */
.comments-template input[type="submit"] {
    background: #381717;
    border-color: #381717;
}

span.required { 
    color: #381717;
}

/* ************************************************************************************************
		Pagination
************************************************************************************************ */
.pagination a {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Searchform
************************************************************************************************ */
#searchform #searchsubmit {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Template Categories
************************************************************************************************ */
ul.listing-cat li:hover span.nb_cat {
    background-color: #381717;
    border-color: #381717;    
}

/* ************************************************************************************************
		Template Tags
************************************************************************************************ */
.wp-tag-cloud li a:hover,
.tagcloud a:hover {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Filters
************************************************************************************************ */
.filtre-list a:hover,
.filtre-list li.selected {
    background-color: #381717;
}

/* ************************************************************************************************
		Sidebar
************************************************************************************************ */
#sidebar li.cat-item a:hover {
    background-color: #381717;
    border-color: #381717;
}

#sidebar .wp-tag-cloud li a:hover,
#sidebar .tagcloud a:hover {
    background-color: #381717;
    border-color: #381717;
}

/* ************************************************************************************************
		Footer
************************************************************************************************ */
#footer li.cat-item a:hover {
    background-color: #381717;
    border-color: #381717;
}

.backtotopinstance {
    background-color: #381717;
    border-color: #381717;
}